<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fight the monster!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container py-3">

    <img class="mx-auto d-block img-fluid" th:src="@{/adapter/primo-geovishap.jpg}" />

    <div class="row">
        <div class="text-center mx-auto col-md-12">
            <h1>You are fighting a boss</h1>
            <h2>Who will attack next?</h2>
        </div>
    </div>

    <!--ToDo: Complete me [DONE] -->
    <div class="row">

        <!-- Mengiterasi list weapons -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 p-2" th:each="weapon:${weapons}">
            <div class="card text-center text-dark">

                <!-- Mendapatkan input dari form dengan metode POST -->
                <form method="POST" class="card-body p-3" th:action="@{battle/attack/}">

                    <!-- Menulis nama dari pemilik senjata -->
                    <h1 class="card-title" th:text="${weapon.getHolderName()}"></h1>
                    <br />

                    <!-- Menulis nama dari senjata tersebut -->
                    <h5 th:text="${weapon.getName()}"></h5>

                    <!-- Menjadi input untuk kemudian dikirimkan di form -->
                    <input type="hidden" name="weaponName" th:value="${weapon.getName()}">
                    <br />

                    <!-- Asumsi bahwa attackType = 1 berarti normal attack
                    dan attackType = 2 berarti charged attack -->

                    <!-- Button yang berfungsi sebagai submit untuk normal attack -->
                    <button value="1" name="attackType" class="btn btn-outline-primary mb-2"
                    type="submit">Normal Attack</button>

                    <!-- Button yang berfungsi sebagai submit untuk charged attack -->
                    <button value="2" name="attackType" class="btn btn-outline-primary mb-2"
                    type="submit">Charged Attack</button>
                </form>
            </div>
        </div>
    </div>

    <!--ToDo: Complete me [DONE] -->
    <div class="card text-left text-dark p-4">
        <h1 class="card-title">Battle Log:</h1>
        <ol class="pl-3 text-left">

            <!-- Mengiterasi list logs -->
            <div th:each="log: ${logs}">
                <!-- Menampilkan log -->
                <li th:text="${log}"></li>
            </div>
        </ol>
    </div>

</div>
</body>
</html>